body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-box {
    width: 640px;   /* 너비를 640px로 설정 */
    height: 320px;  /* 높이를 320px로 설정 */
    border: 1px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
